* {
    cursor: none;
}
*::selection {
    color: black;
    background-color: white;
}
body {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 0;
    position: relative;
}
header {
    padding-inline-start: 1rem;
    position: relative;
    z-index: 2;
    width: fit-content;
    margin-inline: auto;
}
header h1 {
    margin: 0;
    padding: 1rem;
}
header p {
    margin: 0;
    padding-block: 0.2rem;
    padding-inline: 1rem;
    text-align: right;
}
main {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
#canvas {
    background-color: black;
    display: block;
}
footer {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    z-index: 2;
}
.link {
    font-weight: bolder;
    color: white;
    font-size: 1rem;
    font-style: italic;
    text-decoration: none;
    cursor: not-allowed;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    --color1: #00bcc2;
    --color2: #ffd900;
    background-image: linear-gradient(
        90deg,
        var(--color1) 0%,
        var(--color2) 50%,
        var(--color1) 100%
    );
    background-size: 200%;
    background-position: 100% 0;
    animation: link-animation 0.7s infinite linear;
}

@keyframes link-animation {
    from {
        background-position: 200% 100%;
    }
    to {
        background-position: 0 0;
    }
}
