body {
    text-align: center;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
    cursor: none;
}

header {
    color: white;
    position: relative;
    z-index: 2;
    width: fit-content;
    margin-inline: auto;
}

header h1 {
    margin: 0;
    padding: 1rem;
}

header p {
    margin: 0;
    padding-block: 0.2rem;
    padding-inline: 1rem;
    text-align: right;
    font-weight: 700;
}

main {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#canvas {
    background-color: black;
    display: block;
}
